


.cars-wrapper{
    width: 60%;
    margin: 100px auto;
    display: flex;

}
@media screen and (max-width: 600px) {
    .cars-wrapper {
    width: 90%;
    flex-wrap: wrap;
    }
}
.car-container {
padding: 50px;
color:rgb(240, 233, 233);
}
.car-container button{
    padding: 10px;
    border: 3px solid #fff;
    background: #fff;
    border-radius: 20px;
}

#sedans button:hover {
    cursor: pointer;
    background: hsl(31, 77%, 52%);;
    color: #fff;

}
#suvs button:hover{
    cursor: pointer;
    background: hsl(184, 100%, 22%);
    color: #fff;

}
#other button:hover{
    cursor: pointer;
    background: hsl(179, 100%, 13%);
    color: #fff;

}
#sedans{
    background: hsl(31, 77%, 52%);

}
#suvs{
    background: hsl(184, 100%, 22%);
}
#other{
    background: hsl(179, 100%, 13%);
}