.cars-wrapper{
    width: 60%;
    margin: 100px auto;
    display: flex;

}
@media screen and (max-width: 600px) {
    .cars-wrapper {
    width: 90%;
    }
}
.car-container {
padding: 50px;
}
.car-container button{
    padding: 10px;
    border: 3px solid #fff;
    background: transparent;
    border-radius: 20px;
}
.car-container button:hover{
    cursor: pointer;
    background: #fff;

}
.car-container button:hover.sedans{
    cursor: pointer;
    background: #fff;
    color: hsl(31, 77%, 52%);

}
.car-container button:hover.suvs{
    cursor: pointer;
    background: #fff;
    color: hsl(184, 100%, 22%);

}
.car-container button:hover.suvs{
    cursor: pointer;
    background: #fff;
    color: hsl(179, 100%, 13%);

}
#sedans{
    background: hsl(31, 77%, 52%);

}
#suvs{
    background: hsl(184, 100%, 22%);
}
#other{
    background: hsl(179, 100%, 13%);
}